
/*
|--------------------------------------------------------------------------
| Spill
|--------------------------------------------------------------------------
|
| 
|
*/

@each $size, $value in $grid-breakpoints {
  @media (min-width: $value) {

    /**
     * Container
     */
    .container {
      --container-max-width: #{map-get($container-max-widths, $size)};
    }

    /**
     * Column
     * 
     * Adds the ability to spill background outside column to 
     * the end of screen.
     */
    .col-has-#{$size}-spill {

      // Children
      * {
        position: relative;
        // z-index: 3;
      }

      // Fist column
      &:before {
        background-image: inherit;
        background-size: cover;
        background-position: 50% 0;
        // z-index: 1;
      }
      
      &:before,
      &:after {
        content: "";
        position: absolute;
        top: 0;
        inset-inline-start: initial;
        inset-inline-end: 0;
        height: 100%;
        width: calc(100% + 4px + ((100vw - var(--container-max-width)) / 2));
      }

      // Last column
      &:last-child {
        &:before {
          inset-inline-start: 0;
          inset-inline-end: initial;
          // z-index: 1;
        }
      }
    }
  }
}

/*
|--------------------------------------------------------------------------
| Section
|--------------------------------------------------------------------------
|
| 
|
*/

.section {
  padding-bottom: var(--section-spacing);
}

.section-has-fill {
  padding-top: var(--section-spacing);
}

/*
|--------------------------------------------------------------------------
| Element
|--------------------------------------------------------------------------
|
| 
|
*/

// Silence.

/*
|--------------------------------------------------------------------------
| Text Block
|--------------------------------------------------------------------------
|
| 
|
*/

.text-block {
  margin-bottom: $paragraph-margin-bottom;
}

.text-block :last-child {
  margin-bottom: 0;
}

/*
|--------------------------------------------------------------------------
| Font Icons
|--------------------------------------------------------------------------
|
| 
|
*/

$font-sizes: (
  sm: 1rem,
  md: 1.25rem,
  lg: 1.5rem,
  xl: 2rem,
  xxl: 3rem,
);

// Bootstrap icon
.bi {
  display: inline-flex;
  font-size: 1.25em;
  @extend .flex-center
}

@each $size, $value in $font-sizes {
  .bi-#{$size} {
    font-size: #{$value};
  }
}

/*
|--------------------------------------------------------------------------
| SVG Icons
|--------------------------------------------------------------------------
|
| 
|
*/

$icon-sizes: (
  sm: 24px,
  md: 32px,
  lg: 48px,
  xl: 64px,
  xxl: 96px,
);

// .icon {
//   display: flex;
//   @extend .flex-center
// }

@each $size, $value in $icon-sizes {
  .icon-#{$size} {
    height: #{$value};
    width: #{$value};
  }
}

/*
|--------------------------------------------------------------------------
| Button
|--------------------------------------------------------------------------
|
| 
|
*/

.btn-has-icon {
  --gap: var(--btn-padding-x);
  --direction: row;
  gap: var(--gap);
  display: inline-flex;
  flex-direction: var(--direction);
}

.btn-has-icon-end {
  --direction: row-reverse;
}

.btn-has-icon-top {
  --gap: var(--btn-padding-y);
  --direction: column;
}

.btn-has-icon-bottom {
  --gap: var(--btn-padding-y);
  --direction: column-reverse;
}