/*
|--------------------------------------------------------------------------
| Section
|--------------------------------------------------------------------------
|
| 
|
*/

.section {
  --section-spacing: 8rem;
  --title-margin-bottom: 8rem;
  padding-top: var(--section-spacing);
}

.section-has-fill {
  padding-bottom: var(--section-spacing);
}

.section-stretched,
.section-stretched-content {
  --section-width: var(--body-width, 100vw);
  width: var(--section-width);
  inset-inline-start: calc((var(--section-width) - 100%) / -2);
  padding-inline-start: calc((var(--section-width) - 100%) / 2);
  padding-inline-end: calc((var(--section-width) - 100%) / 2);
  position: relative;
}

// .section-stretched > .row,
// .section-stretched-content > .row {
//   margin-inline-start: 0;
// }

.section-stretched-content {
  padding-inline-start: calc(var(--gutter-x) * .5);
  padding-inline-end: calc(var(--gutter-x) * .5);
}

.section-full-height {
  min-height: 100vh;
}

/*
|--------------------------------------------------------------------------
| Element
|--------------------------------------------------------------------------
|
| 
|
*/

.element {
  margin-bottom: $paragraph-margin-bottom;
}

/*
|--------------------------------------------------------------------------
| Text Block
|--------------------------------------------------------------------------
|
| 
|
*/

.text-block {
  margin-bottom: $paragraph-margin-bottom;
}

.text-block :last-child {
  margin-bottom: 0;
}

/*
|--------------------------------------------------------------------------
| Section Title
|--------------------------------------------------------------------------
|
| 
|
*/

.section-title {
  margin-bottom: var(--title-margin-bottom);
}

.section-subtitle {
  font-size: $h5-font-size;
  letter-spacing: 5px;
  word-spacing: 5px;
  // margin-bottom: rem;
}

/*
|--------------------------------------------------------------------------
| Icon
|--------------------------------------------------------------------------
|
| 
|
*/

$icon-sizes: (
  sm: 24px,
  md: 32px,
  lg: 48px,
  xl: 64px,
  xxl: 96px,
);

.icon {
  aspect-ratio: 1/1;
  height: auto;
  width: map-get($icon-sizes, 'md');
}

@each $size, $value in $icon-sizes {
  .icon-#{$size} {
    width: #{$value};
  }
}

@each $color, $value in $theme-colors {
  .bg-#{$color} {
    .icon {
      @if color-contrast($value) == $color-contrast-dark {
        filter: var(--filter-dark);
      } @else {
        filter: var(--filter-light)
      }
    }
  }
}

/*
|--------------------------------------------------------------------------
| Bootstrap Icon
|--------------------------------------------------------------------------
|
| 
|
*/

$font-sizes: (
  sm: 1rem,
  md: 1.25rem,
  lg: 1.5rem,
  xl: 2rem,
  xxl: 3rem,
);

.bi {
  font-size: map-get($font-sizes, 'md');
}

@each $size, $value in $font-sizes {
  .bi-#{$size} {
    font-size: #{$value};
  }
}

/*
|--------------------------------------------------------------------------
| Button
|--------------------------------------------------------------------------
|
| 
|
*/

.btn {
  // --btn-gap: calc(var(--btn-padding-x) * .75);
  --btn-gap: 1.25rem;
  // --btn-font-size: 1.25rem;
  display: inline-flex;
  align-items: center;
  gap: var(--btn-gap);
  --svg-fill: var(--btn-color);
  --svg-stroke: var(--btn-color);
}

.btn-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: calc(var(--btn-font-size) + .5rem);
}

.btn-icon:before {
  font-weight: var(--btn-font-weight) !important;
}

.btn [fill] {
  fill: var(--svg-fill);
}

.btn [stroke] {
  stroke: var(--svg-stroke);
}

// .btn-icon-emphasis,
// .btn-icon-emphasis-end {
//   --btn-icon-gap: .35rem;
//   margin-top: calc(var(--btn-padding-y) * -1 + var(--btn-icon-gap));
//   margin-bottom: calc(var(--btn-padding-y) * -1 + var(--btn-icon-gap));
//   padding: 1rem;
//   border-radius: var(--btn-border-radius);
// }

// .btn-icon-emphasis {
//   margin-inline-start: calc(var(--btn-padding-x) * -1 + var(--btn-icon-gap));
// }

// .btn-icon-emphasis-end {
//   margin-inline-end: calc(var(--btn-padding-x) * -1 + var(--btn-icon-gap));
// }

@each $color, $value in $theme-colors {
  .btn-#{$color}:hover {
    --svg-fill: var(--btn-hover-color);
    --svg-stroke: var(--btn-color);
  }
  
  .btn-#{$color}:active {
    --svg-fill: var(--btn-active-color);
    --svg-stroke: var(--btn-color);
  }

  // .btn-#{$color} .btn-icon-emphasis,
  // .btn-#{$color} .btn-icon-emphasis-end {
  //   // color: var(--btn-bg);
  //   @if color-contrast($value) == $color-contrast-dark {
  //     color: $color-contrast-light;
  //   } @else {
  //     color: $color-contrast-dark;
  //   }
  //   background-color: var(--btn-color);
  // }
}