/*
|--------------------------------------------------------------------------
| Section (Old)
|--------------------------------------------------------------------------
|
| 
|
*/

// .section {
//   --section-spacing: 5rem;
//   padding-top: var(--section-spacing);
// }

// .section-has-fill,
// [data-bs-theme="light"] .section-light-has-fill,
// [data-bs-theme="dark"] .section-dark-has-fill {
//   padding-bottom: var(--section-spacing);
// }

// .section-stretched,
// .section-stretched-content {
//   --section-width: var(--body-width, 100vw);
//   width: var(--section-width);
//   inset-inline-start: calc((var(--section-width) - 100%) / -2);
//   padding-inline-start: calc((var(--section-width) - 100%) / 2);
//   padding-inline-end: calc((var(--section-width) - 100%) / 2);
//   position: relative;
// }

// .section-stretched-content {
//   padding-inline-start: calc(var(--gutter-x) * .5);
//   padding-inline-end: calc(var(--gutter-x) * .5);
// }

// .section-full-height {
//   min-height: 100vh;
// }

/*
|--------------------------------------------------------------------------
| Row (Old)
|--------------------------------------------------------------------------
|
| 
|
*/

// .row-stretched,
// .row-stretched-content {
//   --row-width: var(--body-width, 100vw);
//   width: calc(var(--row-width) + var(--gutter-x));
//   inset-inline-start: calc((var(--row-width) - 100%) / -2);
//   padding-inline-start: calc((var(--row-width) - 100%) / 2);
//   padding-inline-end: calc((var(--row-width) - 100%) / 2);
//   position: relative;

//   --section-width: var(--body-width, 100vw);
//   --section-max-width: 100vw;
//   width: min(var(--section-width), var(--section-max-width));
//   inset-inline-start: calc((min(var(--section-width), var(--section-max-width)) - 100%) / -2); // This supports RTL. Translate does not.
//   padding-inline: calc((min(var(--section-width), var(--section-max-width)) - 100%) / 2);
//   position: relative;

//   &.g-0, &.gx-0 {
//     --gutter-x: 0px;
//   }
// }

// .row-stretched-content {
//   padding-inline-start: calc(var(--gutter-x) * .5);
//   padding-inline-end: calc(var(--gutter-x) * .5);
// }

/*
|--------------------------------------------------------------------------
| Section
|--------------------------------------------------------------------------
|
| 
|
*/

.section {
  --section-spacing: 5rem;
  padding-top: var(--section-spacing);
}

.section-has-fill,
[data-bs-theme="light"] .section-light-has-fill,
[data-bs-theme="dark"] .section-dark-has-fill {
  padding-bottom: var(--section-spacing);
}

.section-full-height {
  min-height: 100vh;
}

.section-stretched,
.section-stretched-content {
  --content-width: 100%;
  width: 100vw;
  inset-inline-start: calc((100vw - 100%) / -2);
  padding-inline: max((var(--gutter-x, 0px) * .5), calc((var(--content-width) - 100vw) / -2));
  position: relative;
}

.section-stretched-content {
  --content-width: var(--body-width, 100vw);
}

/*
|--------------------------------------------------------------------------
| Row
|--------------------------------------------------------------------------
|
| 
|
*/

.row-stretched,
.row-stretched-content {
  --content-width: 100%;
  width: calc(100vw + var(--gutter-x, 0px));
  inset-inline-start: calc((100vw - 100%) / -2);
  padding-inline: max((var(--gutter-x, 0px) * .5), calc((var(--content-width) - 100vw) / -2));
  position: relative;
}

.row-stretched-content {
  --content-width: var(--body-width, 100vw);
}

/*
|--------------------------------------------------------------------------
| Element
|--------------------------------------------------------------------------
|
| 
|
*/

.element {
  margin-bottom: $paragraph-margin-bottom;
}

/*
|--------------------------------------------------------------------------
| Text Block
|--------------------------------------------------------------------------
|
| 
|
*/

.text-block {
  margin-bottom: $paragraph-margin-bottom;
}

.text-block :last-child {
  margin-bottom: 0;
}

/*
|--------------------------------------------------------------------------
| Section Title
|--------------------------------------------------------------------------
|
| 
|
*/

// .section-title {
//   margin-bottom: var(--title-margin-bottom);
// }

// .section-subtitle {
//   font-size: $h5-font-size;
//   letter-spacing: 5px;
//   word-spacing: 5px;
//   // margin-bottom: rem;
// }

/*
|--------------------------------------------------------------------------
| Icon
|--------------------------------------------------------------------------
|
| 
|
*/

$icon-sizes: (
  sm: 24px,
  md: 32px,
  lg: 48px,
  xl: 64px,
  xxl: 80px,
  xxxl: 96px,
);

.icon {
  --icon-width: #{map-get($icon-sizes, 'md')};
  aspect-ratio: 1/1;
  height: auto;
  width: var(--icon-width);
}

.icon > * {
  max-width: 100%;
  max-height: 100%;
}

@each $size, $value in $icon-sizes {
  .icon-#{$size} {
    --icon-width: #{$value};
  }
}

/*
|--------------------------------------------------------------------------
| Bootstrap Icon
|--------------------------------------------------------------------------
|
| 
|
*/

$font-sizes: (
  sm: 1rem,
  md: 1.25rem,
  lg: 1.5rem,
  xl: 2rem,
  xxl: 3rem,
  );
  
  .bi {
    font-size: map-get($font-sizes, 'md');
  }
  
  @each $size, $value in $font-sizes {
  .bi-#{$size} {
    font-size: #{$value};
  }
}

/*
|--------------------------------------------------------------------------
| Tabs
|--------------------------------------------------------------------------
|
| 
|
*/

.nav-links-animated {
  margin-bottom: 10px;
}

.nav-links-animated .animatab-highlighter::before {
  width: 10px;
  height: 10px;
  background-color: var(--primary);
  top: 50%;
  inset-inline-start: 0;
  translate: -50% -50%;
  border-radius: 50%;
}

.nav-links-animated .nav-item {
  margin-inline-end: 2.5rem;
}

.nav-links-animated .nav-link {
  padding: 1rem 1.25rem;
  font-size: 1.5rem;
  letter-spacing: -1px;
  color: var(--body-color);
}

.nav-links-animated .nav-link.active {
  color: var(--primary);
}

/*
|--------------------------------------------------------------------------
| Button
|--------------------------------------------------------------------------
|
| 
|
*/

.btn {
  --btn-gap: 1.25rem;
  --svg-fill: var(--btn-color);
  --svg-stroke: var(--btn-color);
  display: inline-flex;
  align-items: center;
  gap: var(--btn-gap);
}

.btn-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: calc(var(--btn-font-size) + .5rem);
  pointer-events: none;
}

.btn-icon:before {
  font-weight: var(--btn-font-weight) !important;
}

.btn [fill]:not([fill="none"]) {
  fill: var(--svg-fill);
}

.btn [stroke]:not([stroke="none"]) {
  stroke: var(--svg-stroke);
}

.btn-body {
  @include button-variant(
    $dark,
    $dark,
    $hover-background: tint-color($dark, $btn-hover-bg-tint-amount),
    $hover-border: tint-color($dark, $btn-hover-border-tint-amount),
    $active-background: tint-color($dark, $btn-active-bg-tint-amount),
    $active-border: tint-color($dark, $btn-active-border-tint-amount)
  );
    --svg-fill: var(--btn-color);
}

.btn-outline-body {
  @include button-outline-variant($dark);
  --svg-fill: var(--btn-color);
}

.btn-body:hover,
.btn-outline-body:hover {
  --svg-fill: var(--btn-hover-color);
  --svg-stroke: var(--btn-hover-color);
}

.btn-body:active,
.btn-outline-body:active {
  --svg-fill: var(--btn-active-color);
  --svg-stroke: var(--btn-active-color);
}

@each $color, $value in $theme-colors {
  .btn-#{$color}:hover,
  .btn-outline-#{$color}:hover {
    --svg-fill: var(--btn-hover-color);
    --svg-stroke: var(--btn-hover-color);
  }
  
  .btn-#{$color}:active,
  .btn-outline-#{$color}:active {
    --svg-fill: var(--btn-active-color);
    --svg-stroke: var(--btn-active-color);
  }
}

// Button X

.btn-x {
  position: relative;
}

.btn-x > * {
  height: 2px;
  width: 2px;
  background-color: var(--btn-color);
  position: absolute;
  top: 50%;
  inset-inline-start: 50%;
  translate: -50% -50%;
  transition: all .3s;
}

.btn-x:hover > * {
  height: 60%;
  background-color: var(--btn-hover-color);
}

.btn-x > *:first-child {
  rotate: 45deg;
}

.btn-x > *:last-child {
  rotate: -45deg;
  transition-delay: .1s;
}

// Big button

.btn-big,
.btn-big:hover {
  background-color: transparent;
  border: none;
}

.btn-big {
  --btn-hover-width: 40%;
  --btn-hover-height: 40%;
  position: relative;
}

.btn-big:before {
  content: "";
  position: absolute;
  top: 50%;
  inset-inline-start: 50%;
  translate: -50% -50%;
  height: 100%;
  width: 100%;
  background-color: var(--btn-bg);
  border: var(--btn-border-width) solid var(--btn-border-color);
  transition: all .4s;
  border-radius: 50%;
  z-index: -1;
}

.btn-big:hover:before {
  background-color: var(--btn-hover-bg);
  border-color: transparent;
  height: var(--btn-hover-height);
  width: var(--btn-hover-width);
}

// Button double icon

.btn-double-icon {
  position: relative;
}

.btn-double-icon svg + svg {
  position: absolute;
  inset-inline-end: calc(var(--btn-padding-x));
}

.btn-double-icon svg + svg > * {
  translate: -100%;
}

.btn-double-icon:hover svg > * {
  transition: translate .5s;
  translate: 100%;
}

.btn-double-icon:hover svg + svg > * {
  translate: 0;
}

/*
|--------------------------------------------------------------------------
| Title
|--------------------------------------------------------------------------
|
| 
|
*/

// .title {
//   --title-font-size: 4rem;
//   --title-font-weight: 500;
//   --title-line-height: 4rem;
//   --title-letter-spacing: 0;
//   --title-text-transform: normal;

//   // md
//   --title-md-font-size: var(--title-font-size);
//   --title-md-font-weight: var(--title-font-weight);
//   --title-md-line-height: var(--title-line-height);
//   --title-md-letter-spacing: var(--title-letter-spacing);
//   --title-md-text-transform: var(--title-text-transform);

//   // lg
//   --title-lg-font-size: var(--title-md-font-size);
//   --title-lg-font-weight: var(--title-md-font-weight);
//   --title-lg-line-height: var(--title-md-line-height);
//   --title-lg-letter-spacing: var(--title-md-letter-spacing);
//   --title-lg-text-transform: var(--title-md-text-transform);

//   // xl
//   --title-xl-font-size: var(--title-lg-font-size);
//   --title-xl-font-weight: var(--title-lg-font-weight);
//   --title-xl-line-height: var(--title-lg-line-height);
//   --title-xl-letter-spacing: var(--title-lg-letter-spacing);
//   --title-xl-text-transform: var(--title-lg-text-transform);

//   // xxl
//   --title-xxl-font-size: var(--title-xl-font-size);
//   --title-xxl-font-weight: var(--title-xl-font-weight);
//   --title-xxl-line-height: var(--title-xl-line-height);
//   --title-xxl-letter-spacing: var(--title-xl-letter-spacing);
//   --title-xxl-text-transform: var(--title-xl-text-transform);

//   font-size: var(--title-font-size);
//   font-weight: var(--title-font-weight);
//   line-height: var(--title-line-height);
//   letter-spacing: var(--title-letter-spacing);
//   text-transform: var(--title-text-transform);
//   color: var(--heading-color);
// }

// @each $size, $value in $grid-breakpoints {
//   @media (min-width: $value) {
//     // Adds responsive classes for title
//     .title {
//       font-size: var(--title-#{$size}-font-size);
//       font-weight: var(--title-#{$size}-font-weight);
//       line-height: var(--title-#{$size}-line-height);
//       letter-spacing: var(--title-#{$size}-letter-spacing);
//       text-transform: var(--title-#{$size}-text-transform);
//     }
//   }
// }