.flex-center {
  justify-content: center;
  align-items: center;
}

.overlay {
  position: relative;
}

.overlay:after {
  content: '';
  position: absolute;
  top: 0;
  inset-inline-start: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-color);
  opacity: var(--overlay-opacity);
  z-index: -1;
}

$utilities: map-merge(
  $utilities,
  (
    "z-index": (
      class: z-index,
      property: z-index,
      values: (0 1 2 3 4 5 10 20 30 40 50)
    ),
    "overlay-color": (
      css-var: true,
      css-variable-name: overlay-color,
      class: overlay,
      // values: $utilities-bg-colors
      values: $theme-colors
    ),
    "overlay-opacity": (
      css-var: true,
      css-variable-name: overlay-opacity,
      class: overlay,
      values: (5: .5, 10: .1, 20: .2, 25: .25, 30: .3, 40: .4, 50: .5, 60: .6, 70: .7, 75: .75, 80: .8, 90: .9, 95: .95)
    ),
  )
);