$utilities: map-merge(
  $utilities,
  (
    "z-index": (
      class: z-index,
      property: z-index,
      values: (0 1 2 3 4 5 10 20 30 40 50 60 70 80 90),
    ),
    "bg-opacity": (
      css-var: true,
      css-variable-name: bg-opacity,
      class: bg-opacity,
      values: (1: .01, 5: .05, 10: .1, 20: .2, 25: .25, 30: .3, 40: .4, 50: .5, 60: .6, 70: .7, 75: .75, 80: .8, 90: .9, 95: .95, 99: .99)
    ),
    // "overlay-color": (
    //   css-var: true,
    //   css-variable-name: overlay-color,
    //   class: overlay,
    //   // values: $utilities-bg-colors
    //   values: $theme-colors
    // ),
    // "overlay-opacity": (
    //   css-var: true,
    //   css-variable-name: overlay-opacity,
    //   class: overlay,
    //   values: (1: .01, 5: .05, 10: .1, 20: .2, 25: .25, 30: .3, 40: .4, 50: .5, 60: .6, 70: .7, 75: .75, 80: .8, 90: .9, 95: .95, 99: .99)
    // ),
    "opacity": (
      class: opacity,
      property: opacity,
      values: (0: 0, 1: .01, 5: .05, 10: .1, 20: .2, 25: .25, 30: .3, 40: .4, 50: .5, 60: .6, 70: .7, 75: .75, 80: .8, 90: .9, 95: .95, 99: .99)
    )
  )
);

.flex-center {
  justify-content: center;
  align-items: center;
}

.pointer-events-none {
  pointer-events: none;
}

.h-header {
  height: var(--header-height);
}

.filter-body,
.filter-dark {
  filter: var(--filter-dark)
}

.filter-light,
[data-bs-theme="dark"] .filter-body {
  filter: var(--filter-light)
}

// .display-1 {
//   letter-spacing: -12px;
//   word-spacing: 18px;
// }

// .display-2 {
//   letter-spacing: -10.67px;
//   word-spacing: 16px;
// }

// .display-3 {
//   letter-spacing: -9.34px;
//   word-spacing: 12px;
// }

// .display-4 {
//   letter-spacing: -8px;
//   word-spacing: 9px;
// }

// .display-5 {
//   letter-spacing: -7.67px;
//   word-spacing: 6px;
// }

// .display-5 {
//   letter-spacing: -6.34px;
//   word-spacing: 3px;
// }

// .display-6 {
//   letter-spacing: -6px;
//   word-spacing: 3px;
// }

.has-before,
.has-overlay {
  position: relative;
}

// .has-before > *,
// .has-overlay > * {
//   position: relative;
// }

.has-before:before,
.has-overlay:before {
  content: '';
  position: absolute;
  top: 0;
  inset-inline-start: 0;
  height: 100%;
  width: 100%;
  // z-index: 0;
}

// .has-before > *,
// .has-overlay > * {
//   z-index: 2;
// }

.has-overlay {
  --overlay-color: var(--body-bg);
  --overlay-opacity: .75;
}

.has-overlay:before {
  background: var(--overlay-color);
  opacity: var(--overlay-opacity);
  transition: background-color var(--body-bg-transition-duration) var(--body-bg-transition-easing);
}

.overlay-on-top:before {
  z-index: 2;
}

// .effect-glass {
//   background: rgba(255, 255, 255, 0.1);
//   // border-radius: 16px;
//   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
//   backdrop-filter: blur(25px) !important;
// }

// .w-50vw {
//   width: 50vw;
// }

.border-body {
  --border-color: var(--body-color);
}

svg [fill]:not([fill="none"]) {
  fill: var(--svg-fill, var(--body-color, $dark));
}

svg [stroke] {
  stroke: var(--svg-stroke, var(--body-color, $dark));
}

svg [stroke-width] {
  stroke-width: var(--svg-stroke-width, 20);
}

$theme-colors-with-body: map-merge($theme-colors, (
  body: var(--body-color)
));

@each $color, $value in $theme-colors-with-body {
  .svg-#{$color} {
    --svg-fill: #{$value};
    --svg-stroke: #{$value};
  }
}

[style*="font-size"] * {
  font-size: inherit;
}

[style*="line-height"] * {
  line-height: inherit;
}

[style*="font-weight"] * {
  font-weight: inherit;
}

// [style*="--svg-stroke-width"] [stroke-width]:not([stroke-width="0"]) {
//   stroke-width: var(--svg-stroke-width, 1);
// }

[style*="--height"] {
  height: var(--height);
}

@each $size, $value in $grid-breakpoints {
  @media (min-width: $value) {

    // Container
    .container {
      --container-max-width: #{map-get($container-max-widths, $size)};
    }

    // Useful to set image height on different screen sizes
    [style*="--height-#{$size}"] {
      height: var(--height-#{$size});
    }

    // Column
    // .col-#{$size}-bg-spill {
    //   --bg-width: calc(100% + ((100vw - var(--container-max-width)) / 2));
    //   background-size: 0 !important;
    //   position: relative;

    //   * {
    //     position: relative;
    //   }

    //   &:before {
    //     background-image: inherit;
    //     background-size: cover;
    //     background-position: 50% 0;
    //   }

    //   &:before,
    //   &.overlay:after {
    //     content: "";
    //     position: absolute;
    //     top: 0;
    //     inset-inline-start: initial;
    //     inset-inline-end: 0;
    //     height: 100%;
    //     width: var(--bg-width);
    //   }

    //   // Last column
    //   &:last-child:before,
    //   &.overlay:last-child:after {
    //     inset-inline-start: 0;
    //     inset-inline-end: initial;
    //   }
    // }
  }
}