/**
 * Variables
 */

#wpb_wpbakery {
  /* --row-margin-y: 3rem; */
  /* --element-bg: #ffffff; */
  --element-bg: #fff;
  --element-margin-bottom: 1rem;
  --element-wrapper-padding-x: 1rem;
  --control-height: 25px;
  --control-width: 35px;
  --control-margin: 1px;
}

/**
 * General
 */

 .vc-disable-editor {
  display: none;
}

/**
 * Utilities
 */
 
[data-element-disabled="true"] {
  opacity: .35;
  filter: grayscale(1)
}

.element-hidden {
  display: none !important;
}

/**
 * Elements
 */

.bc-element {
  margin-top: 0 !important;
  margin-bottom: var(--element-margin-bottom) !important;
}

.bc-row [data-element_type]:not(.bc-element):not(.vc_tta-tab) {
  margin-bottom: var(--element-margin-bottom) !important;
}

.bc-row .bc-element:last-child {
  margin-bottom: 0 !important;
}

/**
 * Controls
 */

.bc-section > .vc_controls .vc_control,
.bc-row > .vc_controls .vc_control:not(.vc_row_layouts),
.bc-row > .vc_controls .vc_row_layouts > .vc_control-set-column {
  height: var(--control-height);
  width: var(--control-width);
  padding: 0 !important;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.bc-row > .vc_controls .vc_control:not(:first-child) {
  margin-left: var(--control-margin) !important;
}

.bc-row > .vc_controls .vc_row_layouts {
  padding: 0 !important;
  height: unset !important;
  left: calc(var(--control-width) + 2px) !important;
}

.bc-row > .vc_controls .vc_row_layouts .custom_columns {
  width: auto;
  margin: 0;
  border-bottom: 0;
  font-size: 10px;
}

.bc-row > .vc_controls .vc_row_layouts:not(:hover) > *:not(.vc_active) {
  display: none !important;
}

.bc-row > .vc_controls .vc_row_layouts i {
  position: unset !important;
  transform: unset !important;
}

.bc-row > .vc_controls {
  display: flex;
  align-items: center;
}

.bc-row > .vc_controls > div {
  position: unset;
  font-size: inherit !important;
}

.bc-element.wpb_content_element > .vc_controls > * > .vc_control-btn-edit,
.bc-row .vc_row_edit_clone_delete,
.bc-tabs > .vc_controls > * > .vc_control-btn-prepend,
.bc-accordion > .vc_controls > * > .vc_control-btn-prepend {
  margin-left: auto;
}

.bc-element.wpb_content_element > .vc_controls {
  visibility: visible;
  opacity: 1;
  height: unset;
}

.bc-element.wpb_content_element > .vc_controls > *,
.bc-tabs > .vc_controls > *,
.bc-panel > .wpb_element_wrapper > .vc_tta-panel-body > .vc_controls > *,
.bc-accordion > .vc_controls > *,
.bc-accordion-item > .wpb_element_wrapper > .vc_tta-panel-body > .vc_controls > * {
  position: unset !important;
  transform: none !important;
  height: unset !important;
  display: flex;
}

.bc-element.wpb_content_element > .vc_controls > *,
.bc-tabs > .vc_controls > *,
.bc-accordion > .vc_controls > * {
  background-color: #e6e6e6;
}

.bc-element > .vc_controls .vc_btn-content,
.bc-element > .vc_controls .vc_btn-content .vc-composer-icon,
.bc-panel > .wpb_element_wrapper > .vc_tta-panel-body > .vc_controls .vc_btn-content .vc-composer-icon,
.bc-accordion-item > .wpb_element_wrapper > .vc_tta-panel-body > .vc_controls .vc_btn-content .vc-composer-icon {
  color: #888 !important;
  transition: none;
}

.bc-panel > .wpb_element_wrapper > .vc_tta-panel-body > .vc_controls .vc_btn-content {
  transition: none;
}

.bc-element > .vc_controls .vc_btn-content:hover,
.bc-element > .vc_controls .vc_btn-content:hover .vc-composer-icon,
.bc-panel > .wpb_element_wrapper > .vc_tta-panel-body > .vc_controls .vc_btn-content:hover .vc-composer-icon,
.bc-accordion-item > .wpb_element_wrapper > .vc_tta-panel-body > .vc_controls .vc_btn-content:hover .vc-composer-icon {
  color: #fff !important;
}

.bc-panel > .wpb_element_wrapper > .vc_tta-panel-body > .vc_controls > *,
.bc-accordion-item > .wpb_element_wrapper > .vc_tta-panel-body > .vc_controls > * {
  justify-content: center;
  background-color: transparent;
}

.bc-panel > .wpb_element_wrapper > .vc_tta-panel-body > .vc_controls .vc_element-name,
.bc-accordion-item > .wpb_element_wrapper > .vc_tta-panel-body > .vc_controls .vc_element-name {
  display: none;
}

.bc-tabs > .vc_controls,
.bc-panel > .wpb_element_wrapper > .vc_tta-panel-body > .vc_controls,
.bc-accordion > .vc_controls,
.bc-accordion-item > .wpb_element_wrapper > .vc_tta-panel-body > .vc_controls {
  height: unset !important;
  margin: 0 !important;
}

.bc-tabs > .vc_controls {
  position: absolute !important;
  right: 0;
  z-index: 4;
}

.bc-tabs > .wpb_element_wrapper .vc_tta-tabs-list {
  max-width: calc(100% - 190px);
}

.bc-element.vc_shortcodes_container > .vc_controls > .vc_control {
  padding: 4px;
}

.bc-element.vc_shortcodes_container > .vc_controls > .vc_column-move {
  display: none;
}

.bc-element > .controls_column {
  height: unset !important;
}

.bc-section > .controls_column {
  padding-bottom: var(--row-margin-y, var(--element-margin-bottom)) !important;
}

.bc-element .vc_row-hash-id {
  margin-right: .5rem;
}

.bc-element .vc_btn-content {
  transition: none;
}

/**
 * Rows
 */

.bc-row {
  margin-bottom: var(--row-margin-y, var(--element-margin-bottom)) !important;
}

.bc-row:not(:first-child) {
  margin-top: var(--row-margin-y) !important;
}

.bc-row > .wpb_element_wrapper > .vc_row {
  --gutter-x: 1.5rem;
  --gutter-y: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(-0.5 * var(--gutter-x));
  margin-left: calc(-0.5 * var(--gutter-x));
  row-gap: var(--gutter-y);
}

/**
 * Columns
 */

.bc-column {
  padding-right: calc(var(--gutter-x) * .5) !important;
  padding-left: calc(var(--gutter-x) * .5) !important;
  display: flex;
  flex-direction: column;
  margin-bottom: 0 !important;
  /* max-width: 100%; */
  container: controls / inline-size;
}

.bc-column[data-width="auto"] {
  flex: 0 0 auto;
  width: auto;
  min-width: 250px;
}

.bc-column[data-width="max"] {
  flex: 1 0 0%;
}

.bc-column > .wpb_element_wrapper {
  flex-grow: 1;
}

.bc-column > .wpb_element_wrapper > .wpb_column_container {
  height: 100%;
  margin: 0;
}

.bc-column > .wpb_element_wrapper {
  padding: 1px var(--element-wrapper-padding-x) !important;
}

/**
 * Containers
 */

.bc-element.vc_shortcodes_container > .wpb_element_wrapper > .wpb_element_title {
  display: none
}

.bc-element.vc_shortcodes_container > .wpb_element_wrapper > .wpb_column_container {
  margin-right: var(--gutter-x) !important;
  margin-left: var(--gutter-x) !important;
}

/**
 * Tabs & Accordion
 */

.bc-tabs {
  position: relative;
}

.bc-tabs > .wpb_element_wrapper > .vc_tta-container,
.bc-accordion > .wpb_element_wrapper > .vc_tta-container,
.bc-accordion-item {
  margin: 0 !important;
}

.bc-tabs .vc_tta-panel-body,
.bc-accordion .vc_tta-panel-body {
  padding: var(--element-wrapper-padding-x) !important;
  padding-top: 0 !important;
}

/**
 * Image
 */
.wpb_image [data-name="image"][src$="svg"] {
  background-image: none;
}

/* Prevents hidden fields from showing on edit window inital opening */
.vc_properties-list-init [data-vc-shortcode-param-name="custom_src"],
.vc_properties-list-init [data-vc-shortcode-param-name="external_img_size"] {
  display: none;
}

/**
 * Text
 */
 
.wpb_text > .wpb_element_wrapper {
  display: flex;
  align-items: center;
}

.wpb_text .textarea_html {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.wpb_text .textarea_html p {
  margin-top: 0;
}

.wpb_text .textarea_html p:last-child {
  margin-bottom: 0;
}

/**
 * Button
 */

.wpb_button .admin_label_content {
  display: inline-block !important;
  max-width: calc(100% - 48px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/**
 * HTML
 */
 
.wpb_html .content {
  display: none;
}

/**
 * Elements background color (white/silver)
 */
 
 .bc-element:not(.bc-section):not(.bc-row) > * {
  transition: background-color .5s;
  background-color: var(--element-bg) !important;
}

.bc-container,
.bc-container .bc-container .bc-container,
.bc-panel .bc-element.wpb_content_element,
.bc-container .bc-container .bc-element.wpb_content_element,
.bc-container .bc-container .bc-container .bc-container .bc-element.wpb_content_element  {
  --element-bg: #f5f5f5;
}

.bc-container .bc-container,
.bc-container .bc-container .bc-container .bc-container,
.bc-container .bc-element.wpb_content_element,
.bc-container .bc-container .bc-container .bc-element.wpb_content_element {
  --element-bg: #fff;
}

[data-element-updated="true"] > .wpb_element_wrapper,
[data-element-updated="true"] > .wpb_element_wrapper > * {
  position: relative;
}

[data-element-updated="true"] > .wpb_element_wrapper:before {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  animation: bgSuccess 1.5s;
}

@keyframes bgSuccess {
  0% {
    background-color: rgba(0, 128, 0, .85);
  }
  
  10% {
    background-color: rgba(0, 128, 0, .85);
  }

  100% {
    background-color: transparent;
  }
}

/**
 * Edit form fields 
 */

.vc_col-xs-3:first-child + .vc_col-xs-3,
.vc_col-xs-3:first-child + .vc_col-xs-3 + .vc_col-xs-3,
.vc_col-xs-3:first-child + .vc_col-xs-3 + .vc_col-xs-3 + .vc_col-xs-3,
.vc_col-xs-4:first-child + .vc_col-xs-4,
.vc_col-xs-4:first-child + .vc_col-xs-4 + .vc_col-xs-4,
.vc_col-xs-6:first-child + .vc_col-xs-6 {
  padding-top: 0 !important;
}

[data-vc-shortcode-param-name="width"]  {
  display: none !important;
}

[data-vc-shortcode-param-name="width"] + * {
  padding-top: 0 !important;
}

[data-vc-shortcode-param-name^="width_"] {
  display: flex;
  align-items: center;
}

[data-vc-shortcode-param-name^="width_"] > *:first-child {
  flex-basis: 25%;
}

[data-vc-shortcode-param-name^="width_"] > *:last-child {
  flex-basis: 75%;
}

.grapick-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.grapick-wrapper >  * {
  flex: 1 0 0%;
  text-transform: capitalize;
}

.grapick-wrapper > .grapick {
  flex: 1 0 100%;
  position: relative;
  z-index: 1;
  min-height: 30px;
  margin-top: 20px;
}

/**
 * Code mirror
 */

.CodeMirror-hints {
  z-index: 50001 !important; /* Edit popup is 50000 */
}

/**
 * Media queries
 */

@container controls (width < 500px) {
  .bc-row {
    --control-height: 20px;
    --control-width: 30px;
  }

  .bc-row > .vc_controls .vc_column-toggle {
    display: none !important;
  }

  .bc-row > .vc_controls .vc_row_layouts > *,
  .bc-row > .vc_controls .vc_row_layouts .custom_columns {
    font-size: 10px;
  }

  .bc-element > .vc_controls .vc_element-move {
    display: none !important;
  }
}