/**
 * General
 */

.vc_col-xs-3:first-child + .vc_col-xs-3,
.vc_col-xs-3:first-child + .vc_col-xs-3 + .vc_col-xs-3,
.vc_col-xs-3:first-child + .vc_col-xs-3 + .vc_col-xs-3 + .vc_col-xs-3,
.vc_col-xs-4:first-child + .vc_col-xs-4,
.vc_col-xs-4:first-child + .vc_col-xs-4 + .vc_col-xs-4,
.vc_col-xs-6:first-child + .vc_col-xs-6 {
  padding-top: 0 !important;
}

/**
* Utilities
*/

[data-element-disabled="true"] {
  opacity: .5;
}

.element-hidden {
  display: none !important;
}

.d-inline-block {
  display: inline-block;
}

/**
 * Sections
 */

.wpb_section {
  --element-bg-color-def: #ffffff;
  --element-bg-color-alt: #f5f5f5;
  --control-bg-color: #e6e6e6;
  --element-radius: 0;
  --element-spacing: 16px;
  --row-spacing: 25px;
  --column-spacing: 16px;
  --inner-row-spacing: 16px;
  --content-padding-x: 10px;
  --content-padding-y: 10px;
}

/**
 * Rows
 */

.wpb_section .vc_row {
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--column-spacing);
}

.wpb_section [data-element_type]:has(+ .wpb_vc_row) {
  margin-bottom: var(--inner-row-spacing);
}

/**
 * Columns
 */

.wpb_section [data-width="auto"] {
  width: auto !important;
  flex: 0 0 auto;
  min-width: 200px;
}

.wpb_section [data-width="max"] {
  width: initial !important;
  flex: 1 0;
}

.wpb_section [data-width] {
  display: flex;
  flex-direction: column;
}

.wpb_section .wpb_vc_column > .wpb_element_wrapper,
.wpb_section .wpb_vc_column_inner > .wpb_element_wrapper {
  flex-grow: 1;
}

.wpb_section .wpb_vc_column > .wpb_element_wrapper > .wpb_column_container,
.wpb_section .wpb_vc_column_inner > .wpb_element_wrapper > .wpb_column_container {
  height: 100%;
}

/**
 * Elements
 */

.wpb_section .wpb_content_element > .wpb_element_wrapper {
  border-radius: var(--element-radius) !important;
}

.wpb_section .wpb_content_element {
  border-top-left-radius: var(--element-radius);
  border-top-right-radius: var(--element-radius);
}

.wpb_section .wpb_content_element>.wpb_element_wrapper {
  padding: var(--content-padding-x) var(--content-padding-y);
  padding-top: calc(var(--content-padding-y) + 30px);
}

/**
 * Text
 */

.wpb_text > .wpb_element_wrapper {
  display: flex;
  align-items: center;
}

.wpb_section .textarea_html {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/**
 * Icon
 */

.wpb_bootstrap_icon .wpb_element_wrapper {
  position: relative;
}

.wpb_bootstrap_icon [class*="bi-"] {
  background: none;
  font-size: 30px;
}

.wpb_bootstrap_icon .wpb_element_title > .vc_element-icon {
  position: absolute;
  top: 10px;
  left: 10px;
}

.wpb_bootstrap_icon [data-icon] ~ .column_edit_trigger {
  display: none;
}

.wpb_bootstrap_icon .wpb_element_title,
.wpb_bootstrap_icon .vc_admin_label:not(.hidden-label) {
  padding-left: 42px;
}

.wpb_bootstrap_icon .vc_admin_label:not(.hidden-label) ~ .vc_admin_label:not(.hidden-label) {
  padding-left: 0;
}

/**
 * Tabs & Accordion
 */

.wpb_tabs,
.wpb_accordion {
  position: relative;
}

.wpb_accordion .vc_tta-container,
.wpb_tabs .vc_tta-container {
  margin: 0;
}

.wpb_accordion > .vc_controls,
.wpb_tabs > .vc_controls {
  height: 30px !important;
  margin-top: 0px;
}

.wpb_accordion > .vc_controls,
.wpb_tabs > .vc_controls {
  margin-top: 0 !important;
  margin-bottom: var(--element-spacing) !important;
}

.wpb_section .wpb_tabs {
  margin-top: 0 !important;
}

.wpb_accordion .vc_controls-out-tc,
.wpb_tabs .vc_controls-out-tc {
  top: 0px !important;
  padding-bottom: 1px;
}

.wpb_accordion .vc_tta-panel-title > a {
  padding-left: 46px !important;
}

.wpb_accordion .vc_tta-panel-title > a > i {
  position: absolute !important;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}

.wpb_section .wpb_accordion {
  margin: 0;
}

.wpb_section .wpb_accordion_item {
  border-top-left-radius: var(--element-radius);
  border-top-right-radius: var(--element-radius);
  overflow: hidden;
}

/**
 * Image
 */

.wpb_image .admin_label_image {
  display: none !important;
}

.wpb_image img.vc_element-icon {
  background-image: none;
}

/* Prevents hidden fields from showing on edit window inital opening */
.vc_properties-list-init [data-vc-shortcode-param-name="custom_src"],
.vc_properties-list-init [data-vc-shortcode-param-name="external_img_size"] {
  display: none;
}

/**
 * HTML
 */

/* .wpb_html {
  max-height: 200px;
  overflow: hidden;
} */

.wpb_html .content {
  display: none;
}

/**
 * Content elements
 */

.wpb_section .vc_admin_label {
  position: relative;
}

.wpb_section .vc_admin_label:not(:first-of-type):before {
  content: "|";
  margin-right: 5px;
}

/**
 * Coloring
 */

[data-element-disabled="true"] .vc_btn-content {
  background-color: transparent;
}

.wpb_section > .vc_controls:not(.bottom-controls) .vc_control,
.wpb_section .wpb_vc_row > .vc_controls .vc_control {
  background-color: var(--control-bg-color) !important;
}

.wpb_section [data-alternate="true"] {
  --element-bg-color: var(--element-bg-color-alt);
}

.wpb_section [data-alternate="false"] {
  --element-bg-color: var(--element-bg-color-def);
}

/* Columns / Column like */
.wpb_section [data-alternate][data-width] > *,

/* Tabs */
.wpb_section [data-alternate].wpb_tabs .vc_tta-tab.vc_active > a,
.wpb_section [data-alternate].wpb_tabs .vc_tta-panels,
.wpb_section [data-alternate].wpb_tabs .vc_tta-panel-body,

/* Accordion */
.wpb_section [data-alternate].wpb_accordion .vc_tta-panel-heading,
.wpb_section [data-alternate].wpb_accordion .vc_tta-panel-body,
.wpb_section [data-alternate].wpb_accordion .vc_tta-section-append > a,

/* Content element */
[data-alternate].wpb_content_element > * {
  background: var(--element-bg-color) !important;
}

/**
 * Controls
 */

.wpb_section .vc_controls {
  opacity: 1 !important;
  visibility: visible !important;
}

.wpb_section .controls_row {
  container: row-controls / inline-size;
  justify-content: flex-end;
}

.wpb_section .vc_controls-row,
.wpb_section .vc_controls-row > div {
  display: flex;
  flex-wrap: wrap;
}

.wpb_section .vc_controls-row .vc_column-move {
  order: 1;
}

.wpb_section .vc_controls-row .vc_row_layouts {
  order: 2;
  padding-right: 4px;
}

.wpb_section .vc_controls-row .vc_column-add {
  order: 3;
}

.wpb_section .vc_controls-row .element-title {
  order: 4;
  margin-inline-end: 4px;
}

.wpb_section .vc_controls-row .icons {
  order: 5;
  margin-inline-start: auto;
}

.wpb_section .vc_controls-row .vc_row-hash-id {
  order: 5;
  margin-inline-end: .5rem;
  padding-left: 0;
}

.wpb_section .vc_controls-row .vc_column-toggle {
  order: 7;
}

.wpb_section .vc_controls-row .vc_column-edit {
  order: 8;
}

.wpb_section .vc_controls-row .vc_column-clone {
  order: 9;
}

.wpb_section .vc_controls-row .vc_column-delete {
  order: 10;
}

.wpb_section .vc_controls-row .vc_control-set-column.custom_columns {
  padding: 0;
  /* height: 20px; */
  border-bottom: 0;
  /* display: inline-flex; */
  /* align-items: center; */
  margin-top: 6px;
}

.wpb_section .vc_controls-row > div:first-child {
  position: initial;
  flex-grow: 1;
}

.wpb_accordion .vc_controls {
  border: 0 !important;
}

.wpb_section .vc_control-column.bottom-controls {
  height: initial !important;
  min-height: 24px;
  border-radius: 0 0 var(--element-radius) var(--element-radius);
}

.wpb_section .bottom-controls {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wpb_tabs .vc_controls {
  border: 0 !important;
}

.wpb_section .vc_section-bottom-controls {
  padding-top: 25px !important;
  padding-bottom: 25px !important;
  height: initial;
}

.element-title + .vc_control {
  margin-inline-start: auto;
}

.wpb_section .vc_controls>.vc_controls-cc {
  transform: none;
  top: 0;
  left: initial;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: var(--control-bg-color);
}

.wpb_section .vc_control-btn .vc-composer-icon {
  color: #888 !important;
}

/* .wpb_section .vc_control-btn:hover .vc-composer-icon {
  color: white !important;
}

.wpb_section [data-element-disabled="true"] .vc_control-btn:hover .vc-composer-icon {
  color: #888 !important;
} */

.wpb_section .vc_control-btn .vc_btn-content:hover {
  background-color: transparent;
}

.wpb_section .vc_controls .vc_element-move {
  margin-right: auto;
}

.wpb_section .vc_element-name > .vc_btn-content {
  width: 16px !important;
  overflow: hidden;
  padding-right: 0 !important;
}

/**
 * Spacing
 */

.wpb_section .vc_row {
  margin-left: calc(var(--column-spacing) / -2) !important;
  margin-right: calc(var(--column-spacing) / -2) !important;
}

.wpb_section [data-width]:not(.wpb_accordion_item):not(.wpb_panel):not(.wpb_vc_tta_section) {
  padding-left: calc(var(--column-spacing) / 2) !important;
  padding-right: calc(var(--column-spacing) / 2) !important;
}

.wpb_section .wpb_row_container>.wpb_vc_column>.wpb_element_wrapper {
  padding-left: var(--column-spacing) !important;
  padding-right: var(--column-spacing) !important;
}

/* Removes default margin since we enabled row-gap */
.wpb_section .wpb_vc_column,
.wpb_section .wpb_vc_column_inner {
  margin-bottom: 0 !important;
}

.wpb_section [data-element_type] {
  margin-bottom: var(--element-spacing);
}

.wpb_section [data-element_type]:last-child {
  margin-bottom: 0;
}

.wpb_section .vc_section_container > *:not(:last-child) {
  margin-bottom: var(--row-spacing);
}

/**
 * Element title
 */

.element-title {
  font-size: 10px;
  height: 25px !important;
  display: inline-flex;
  align-items: center;
  margin-inline-start: 0.25rem;
}

/**
 * Element icons
 */

.icons {
  position: absolute;
  right: 100px;
  top: 16px;
  translate: 0 -50%;
  display: flex;
  column-gap: 2px;
  z-index: 1003;
}

.wpb_section .wpb_content_element .icons {
  background-color: var(--control-bg-color) !important;
}

.element-title + .icons {
  position: relative;
  align-items: center;
  margin-inline-start: auto;
}

.wpb_section .vc_controls-row .icons {
  position: initial;
  translate: none;
  margin-inline-end: 6px;
}

.wpb_section .vc_controls-row .icons > * {
  margin-bottom: 1px;
}

[data-width]:not(.wpb_section) > .icons {
  bottom: initial;
  right: initial;
  left: calc(50% + 35px);
  top: 12px;
}

[data-width]:not(.wpb_section).vc_empty-column > .icons {
  left: calc(50% + 25px);
}

.icons > *:after {
  width: 20px;
  display: block;
}

.icon-css:after {
  content: url(../imgs/css.svg);
}

.icon-js:after {
  content: url(../imgs/js.svg);
}

.icon-bg:after {
  content: url(../imgs/bg.svg);
}

.icons > * {
  display: none;
}

[data-icons*="custom_css"] > .icons .icon-css,
[data-icons*="custom_css"] > .vc_controls .icons .icon-css,
[data-icons*="custom_js"] > .icons .icon-js,
[data-icons*="custom_js"] > .vc_controls .icons .icon-js,
[data-icons*="background_image"] > .icons .icon-bg,
[data-icons*="background_image"] > .vc_controls .icons .icon-bg {
  display: block;
}

/**
 * Grapick field
 */

.grapick-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.grapick-wrapper >  * {
  flex: 1 0 0%;
  text-transform: capitalize;
}

.grapick-wrapper > .grapick {
  flex: 1 0 100%;
  position: relative;
  z-index: 1;
  min-height: 30px;
  margin-top: 20px;
}

/**
 * CodeMirror fields
 */

.CodeMirror {
  height: 400px !important;
}

.CodeMirror-hints {
  z-index: 99999999 !important;
}

.vc_ui-panel .CodeMirror {
  border: 1px solid #dcdcde;
}

/**
 * Custom HTML
 */

[name="custom_html"] {
  clear: both;
  margin-top: 20px;
}

/**
 * Width field
 */

[data-vc-shortcode-param-name="width"].wpb_el_type_textfield  {
  display: none !important;
}

[data-vc-shortcode-param-name="width"].wpb_el_type_textfield +  * {
  padding-top: 0 !important;
}

/**
 * Responsive width fields 
 */

[data-vc-shortcode-param-name^="width_"] {
  display: flex;
  align-items: center;
}

[data-vc-shortcode-param-name^="width_"] > *:first-child {
  flex-basis: 25%;
}

[data-vc-shortcode-param-name^="width_"] > *:last-child {
  flex-basis: 75%;
}

/*
|--------------------------------------------------------------------------
| Container Queries
|--------------------------------------------------------------------------
|
*/

@container row-controls (width < 380px) {
  .vc_row-hash-id {
    display: none;
  }
}


@container row-controls (width < 320px) {
  .element-title {
    height: 21px !important;
  }

  .vc_control {
    width: 25px !important;
    height: 20px !important;
    padding: 0 !important;
    display: inline-flex !important;
    align-items: center;
    justify-content: center;
  }

  .vc_row_layouts {
    width: 30px !important;
  }

  .vc_row_layouts:hover {
    left: 27px !important;
    width: auto !important;
    height: auto !important;
  }

  .vc_row_layouts .set_columns {
    font-size: 10px !important;
  }
}

@container row-controls (width < 250px) {
  .element-title {
    display: none !important;
  }
}