/*
|--------------------------------------------------------------------------
| WPBakery Overrides
|--------------------------------------------------------------------------
|
| Overrides WPBakery default styling.
|
*/

.vc_video-bg + * {
  position: relative;
  z-index: 1;
}

/* [class*="-spill"],
[class*="-spill"].vc_parallax {
  overflow-x: visible;
  overflow-y: clip;
}

[class*="-spill"] .vc_parallax-inner,
[class*="-spill"] .tiles {
  width: var(--bg-width);
  inset-inline-end: 0 !important;
  inset-inline-start: initial !important;
}

[class*="-spill"] .vc_parallax-inner {
  background-color: var(--body-bg) !important;
}

[class*="-spill"]:last-child .vc_parallax-inner,
[class*="-spill"]:last-child .tiles {
  inset-inline-end: initial !important;
  inset-inline-start: 0 !important;
}

[class*="-spill"].vc_parallax:after {
  content: none;
} */