/*
|--------------------------------------------------------------------------
| WPBakery Overrides
|--------------------------------------------------------------------------
|
| Overrides WPBakery default styling.
|
*/

.vc_video-bg + * {
  position: relative;
  z-index: 1;
}

[class*="-spill"] {
  overflow-x: visible;
  overflow-y: clip;
}

[class*="-spill"] .vc_parallax-inner,
[class*="-spill"] .tiles {
  width: var(--bg-width);
  left: initial;
  right: initial;
  inset-inline-end: 0;
}

[class*="-spill"]:last-child .vc_parallax-inner,
[class*="-spill"]:last-child .tiles {
  inset-inline-end: initial;
  inset-inline-start: 0;
}

[class*="-spill"].vc_parallax:after {
  content: none;
}