.animatab {
  position: relative;
}

.animatab-item {
  position: relative;
  z-index: 1;
}

.animatab-highlighter {
  position: absolute;

}

.animatab-highlighter:before {
  content: "";
  position: absolute;
  top: 50%;
  inset-inline-start: 50%;
  height: 100%;
  width: 100%;
  translate: -50% -50%;
  background-color: #36454F;
  transition: all .4s;
}