[data-reveal="true"] {
  opacity: 0;
}

.reveal {
  position: relative;
}

.reveal-blocks {
  position: absolute;
  top: 0;
  inset-inline-start: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  pointer-events: none;
}

.reveal-blocks > * {
  flex-grow: 1;
}