body {
	--body-bg-transition-duration: .5s;
	--body-color-transition-duration: .5s;
	--body-bg-transition-easing: cubic-bezier(0.65,0,0.35,1);
	--body-color-transition-easing: cubic-bezier(0.65,0,0.35,1);
	transition: 
		background-color var(--body-bg-transition-duration) var(--body-bg-transition-easing), 
		color var(--body-color-transition-duration) var(--body-color-transition-easing);
}

[class*="bg-"],
[style*="background-color"] {
  transition: 
    background-color var(--body-bg-transition-duration) var(--body-bg-transition-easing) !important;
}

.has-overlay:before {
  transition: 
    background var(--body-bg-transition-duration) var(--body-bg-transition-easing);
}

.theme-toggle-switch .btn {
	padding: 0;
    height: 2rem;
    width: 3rem;
    justify-content: center;
	--btn-font-size: .925rem;
	letter-spacing: 0;
	--btn-border-color: var(--border-color);
}

.theme-toggle-input:checked ~ .dark,
.theme-toggle-input:not(:checked) ~ .light {
	--btn-bg: var(--secondary);
	--btn-color: var(--dark);
	--btn-border-color: var(--secondary);
}

.theme-toggle .icon {
	width: 36px;
}

/* .theme-toggle-switch {
	--width: 70px;
	width: var(--width);
	height: var(--width);
	overflow: hidden;
	display: flex;
	border: var(--border-width) var(--border-style) var(--secondary);
	border-radius: 50%;
	gap: var(--width);
	transition: all var(--body-bg-transition-duration) var(--body-bg-transition-easing);
}

.theme-toggle-switch img {
	height: 100%;
	width: 100%;;
	position: relative;
	transition: all 1s cubic-bezier(0.34, 1.56, 0.64, 1);
	left: 50%;
	top: 50%;
	translate: -50% -50%;
	position: relative;
	filter: var(--filter-body-color);
	padding: .75rem;
}

[data-bs-theme="dark"] .theme-toggle-switch img {
	left: calc(-100% - var(--width) / 2);
	rotate: -720deg;
} */